# make filename lowercase and remove spaces
norm_fn() {
  NAME_ORIG=$1
  TO_LOWER=$(echo "$NAME_ORIG" | tr '[:upper:]' '[:lower:]')
  NO_SPACE=$(echo $TO_LOWER | sed 's/ /_/g')
  mv -vi $NAME_ORIG $NO_SPACE
}
