set nowrap
set linenumbers
set mouse
#set titlecolor red,blue
#set statuscolor
#set keycolor
#set functioncolor
#set numbercolor

include /opt/homebrew/Cellar/nano/8.2/share/nano/asm.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/yaml.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/nftables.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/changelog.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/ocaml.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/ruby.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/json.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/autoconf.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/java.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/cmake.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/perl.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/man.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/objc.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/tcl.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/elisp.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/email.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/sh.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/rust.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/groff.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/awk.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/html.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/extra/spec.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/extra/haskell.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/extra/ada.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/extra/povray.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/extra/fortran.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/go.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/guile.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/php.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/xml.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/sql.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/texinfo.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/nanohelp.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/nanorc.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/lua.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/c.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/default.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/makefile.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/python.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/javascript.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/css.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/patch.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/markdown.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/tex.nanorc
include /opt/homebrew/Cellar/nano/8.2/share/nano/po.nanorc
