#!/bin/bash

# make filename lowercase and remove spaces
fn() {
  NAME_ORIG=$1
  TO_LOWER=$(echo "$NAME_ORIG" | tr '[:upper:]' '[:lower:]')
  NO_SPACE=$(echo $TO_LOWER | sed 's/ /_/g')
  echo $NO_SPACE
}

# make filename lowercase and remove spaces and rename file
fnmov() {
  mv -vi $1 $(fn $1)
}

# make and change directory
mkcd() {
  mkdir -pv "$@" && cd "$_";
}

# change directory to the location in finder window
cdfi() {
  cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}

# case-insensitive find, surpress errors (mostly file perms)
ffind() {
  find $1 -iname $2 2>/dev/null
}

# "fuzzy" find
fffind() {
  ffind $1 "*$2*"
}

# readlink -f polyfill
rl() {
  echo -n "$(cd "$(dirname "$1")"; pwd -P)/$(basename "$1")"
}

# readlink and copy path to clipboard
rlp() {
  rl $1 | pbcopy
}

# Reverse dns lookup
revdns() {
  dig -x $1
}

# List which hosts in lan are up
wholan() {
  local sedex='/incomplete|\(192.168.0.(1|255)\)|\(224.0.0.251\)|\(239.255.255.250\)/d'
  ping -c 4 192.168.0.255 > /dev/null
  MACS=$(arp -a | sed -E $sedex | awk '{print $2,$4}')

  while read -r iline; do
    vendor=$(curl --silent "https://api.macvendors.com/$(echo $iline | awk '{print $2}')")
    vendor=$(echo $vendor | sed 's/{.*}//')
    echo "$iline $vendor"
    sleep 1
  done <<< "$MACS"
}

cheat() {
  cmd=$1
  curl "cheat.sh/${cmd}"
}

heic2jpg() {
  for i in *.heic(:r) ; sips -s format jpeg "$i.heic" --out "$i.jpg"
  for i in *.HEIC(:r) ; sips -s format jpeg "$i.heic" --out "$i.jpg"
}

tolower() {
  echo "Pass string: "
  read input_string

  modified_string=$(echo "$input_string" | tr '[:upper:]' '[:lower:]' | tr ' ' '_')

  echo -n "$modified_string" | `pbcopy`
  echo "Copied to clipboard:"
  echo "$modified_string"
}

fwhatis() {
  cat << EOF
fn        - Lowercase file and remove spaces
fnmov     - Lowercase file, remove spaces and rename file
mkcd      - Make and change directory (Includes -p option which creates intermediate directories as required)
cdfi      - Change working directory to the location in the finder window
ffind     - Case-insensitive find and surpress errors
fffind    - Fuzzy find
rl        - Readlink
rlp       - Readlink and copy path to clipboard
wholan    - List hosts in lan
revdns    - Reverse dns lookup
cheat     - TLDR
heic2jpg  - Convert all .heic files to jpg files in current directory
tolower   - Convert given string to lowercase and replace spaces with underlines

sips         - scriptable image processing system
cwebp        - encoding tool
dwebp        - decoding tool
gif2webp     - gif conversion tool
img2webp     - animation creation tool
vwebp        - webp visualization tool
webpinfo     - webp analysis tool
webpmux      - webp muxing tool
anim_diff    - webp file comparison tool
anim_dump    - tool for dumping animation frames
get_disto    - tool for calculating file distortion
webp_quality - webp quality estimation tool

EOF
}
