"*":
  "atom-ternjs":
    inlineFnCompletionDocumentation: true
    snippetsFirst: true
    useSnippetsAndFunction: true
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "duotone-dark-sky-syntax"
    ]
  editor:
    fontSize: 18
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "c9cbbe4e-2d71-4874-9efb-44cadd7312e2"
  "git-diff":
    showIconsInEditorGutter: true
  welcome:
    showOnStartup: false
